.input {
  &-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  &-error-message {
    margin-top: 0.25rem;
    color: rgb(223, 35, 35);
    font-size: 0.75em;
  }

  &-label {
    color: rgb(109, 109, 109);
    font-size: 0.75rem;
    font-family: sans-serif;
  }
}

.error-display {
  border: 1px solid red;
}

.form-field {
  margin-bottom: 10px;
  padding: 0 5px;
}

.form-label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
}

.form-error {
  display: flex;
  color: #f00;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px;
  margin-top: 1px;
}
