//@use "variables" as v;

$transition: 0.2s;
$base: 4px;
$fw-bold: 700;
$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 10;
$padding-vertical: $base * 15;

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 16px;
}

.contaner__formUp {
  margin-top: 20px;
}

.formUp {
  width: 400px;
  margin: 0 auto;
  &__button {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:focus {
    }
    &:active {
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}

.input {
  &-container {
    display: flex;
    flex-direction: column;
    input {
      background-color: #ebedf0;
      border-radius: 6px;
      padding: 6px;
      border: 1px solid #666;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.55), 1px 1px 1px rgba(255, 255, 255, 0.5);
    }
  }

  &-error-message {
    margin-top: 0.25rem;
    color: rgb(236, 61, 61);
    font-size: 0.75em;
  }

  &-label {
    // padding: 0.3rem;
    display: inline-block;
    color: #0290ee;
  }
}

.error-display {
  border: 1px solid rgb(248, 6, 6);
}

.nav-wrapper {
  @include list-null();
  display: flex;
  &__item {
    & + & {
      margin-left: $base * 10;
    }
    &-link {
      color: rgb(23, 27, 26);
      text-decoration: none;
      cursor: pointer;

      transition: $transition;
      &:hover {
        color: #15e927;
      }
      &--active {
        color: #f7630e;
      }
    }
  }
}

.main-navigation {
  display: flex;
  align-items: center;

  &__inner-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: $base * 18;
  }
}

.logo {
  margin: 0;
  padding: 0;
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.profile__bar {
  margin-left: auto;
}
.section-inner {
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper__loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #f3f3f3;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #666;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.form-error {
  margin-top: 0.25rem;
  color: rgb(236, 61, 61);
  font-size: 0.75em;
}

.error-display {
  border: 1px solid red;
}

.form-field {
  margin-bottom: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form-label {
  display: inline-block;
  color: #0290ee;
  // margin-bottom: 7px;
}
.notification-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}

.notification-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: #65d266;
}

.notification-item.error .bar {
  background-color: red;
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;

  &-content {
    background-color: white;
    width: 700px;
    max-width: 840px;
    height: 900px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.profile_page .avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.profile_page .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.profile_page .avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff8;
  text-align: center;
  font-weight: 400;
  color: rgb(255, 140, 45);
  transition: 0.3 ease-in-out;
}

.profile_page .avatar:hover span {
  bottom: -15%;
}

.profile_page #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
