// Color System
//

$white: #fff !default;
$black: #000 !default;

$primary: #335eea !default;
$success: #42ba96 !default;
$info: #7c69ef !default;
$warning: #fad776 !default;
$danger: #df4759 !default;

// Paths
//
$path-to-fonts: "/fonts";

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: "HKGroteskPro", serif !default;

$h1-font-size: 2.3125rem !default; // 37px
$h2-font-size: 1.9375rem !default; // 31px
$h3-font-size: 1.3125rem !default; // 21px
$h4-font-size: 1.1875rem !default; // 19px
$h5-font-size: 1.0625rem !default; // 17px
$h6-font-size: 0.75rem !default; // 12px

$font-size-base: 1.0625rem !default; // 17px
$font-size-xs: 0.75rem !default; // 12px NEW
$font-size-sm: 0.9375rem !default; // 15px
$font-size-lg: 1.1875rem !default; // 19px

$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

$line-height: 1.6 !default;

$headings-margin-bottom: 0.5rem !default;
$headings-font-weight: $font-weight-normal !default;
$headings-line-height: 1 !default;

// Inputs
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
